In [3]:
import pandas as pd
import numpy as np

In [4]:
nutritions = pd.read_csv("raw data\\component_value.csv", sep=";")

In [5]:
nutritions["EUFDNAME"] = nutritions["EUFDNAME"].fillna("NATRIUM")

In [6]:
nutritions.head(40)

    FOODID  EUFDNAME  BESTLOC ACQTYPE METHTYPE METHIND
0        1     ENERC  1698,30       S        S  MI0107
1        1       FAT        0       F        E  MIR003
2        1    CHOAVL   99,900       S        S  MI0181
3        1      PROT        0       L        P  MIR003
4        1       ALC        0       F        U  MIR007
5        1        OA        0       S       IG  MIR003
6        1     SUGOH        0       S        U  MIR007
7        1     SUGAR   99,900       S        S  MI0151
8        1      FRUS        0       S       IG  MIR003
9        1      GALS        0       S        U  MIR007
10       1      GLUS        0       S       IG  MIR003
11       1      LACS        0       S        U  MIR003
12       1      MALS        0       S       IG  MIR007
13       1      SUCS   99,900       S       CG  MIR002
14       1    STARCH        0       S        U  MIR003
15       1      FIBC        0       S        U  MIR003
16       1    FIBINS        0       S        S  MIR006
17       1   PSACNCS        0       S        U  MIR003
18       1       FOL        0       F        E  MIR003
19       1     NIAEQ        0       F        E  MIR003
20       1       NIA        0       S        I  MIR003
21       1  VITPYRID        0       S        S  MIR005
22       1      RIBF        0       F        E  MIR003
23       1      THIA        0       F        E  MIR003
24       1      VITA        0       S        S  MI0324
25       1  CAROTENS        0       S        S  MI0302
26       1    VITB12        0       F        E  MIR003
27       1      VITC        0       F        E  MIR003
28       1      VITD        0       F        E  MIR003
29       1      VITE        0       S        S  MI0368
30       1      VITK        0       S       IG  MIR003
31       1        CA     0,40       F        E  MIR003
32       1        FE    0,060       F        E  MIR003
33       1        ID     5,00       F        E  MIR003
34       1         K     2,00       F        E  MIR003
35       1        MG    0,100       F        E  MIR003
36       1   NATRIUM     0,10       F        E  MIR003
37       1      NACL     0,25       S        T  MIR005
38       1         P      0,1       F        E  MIR003
39       1        SE    0,500       D       AG  MI1006

In [7]:
nutritions.drop(columns=["ACQTYPE", "METHTYPE", "METHIND"], inplace=True)

nutritions

        FOODID EUFDNAME  BESTLOC
0            1    ENERC  1698,30
1            1      FAT        0
2            1   CHOAVL   99,900
3            1     PROT        0
4            1      ALC        0
...        ...      ...      ...
229637   35887  F20D5N3   85,521
229638   35887  F22D6N3  145,425
229639   35887    CHOLE   323,57
229640   35887    STERT    11,43
229641   35887      TRP    486,2

[229642 rows x 3 columns]

In [8]:
df_pivot = nutritions.pivot(index="FOODID", columns="EUFDNAME", values="BESTLOC")
df_pivot

EUFDNAME,ALC,CA,CAROTENS,CHOAVL,CHOLE,ENERC,F18D2CN6,F18D3N3,F20D5N3,F22D6N3,...,THIA,TRP,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
FOODID,,,,,,,,,,,,,,,,,,,,,
1,0,"0,40",0,"99,900",0,"1698,30",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"0,010"
2,0,"0,10",0,"99,800",0,"1696,60",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"0,010"
3,0,"74,00",0,"74,100",0,"1261,40",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"0,130"
4,0,"5,00",0,"80,800",0,"1382,10",0,0,0,0,...,"0,0100",0,0,0,"4,00",0,0,"0,020",0,"0,100"
5,0,"7,00",0,"87,000",0,"1487,50",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"0,290"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35644,0,"86,22","65,1","9,180","46,82","471,33","740,054","95,700","5,829","52,996",...,"0,0495","155,3","32,965","1,59","0,77","0,965","0,548","1,700","0,16","0,828"
35645,0,"80,78","67,7","11,527","34,38","400,34","288,296","39,840",0,"9,349",...,"0,0810","97,4","27,127","0,35","1,01","0,607","0,229","0,617","0,10","0,743"
35647,0,"45,45","649,1","20,724","16,08","806,54","1588,038","400,155","4,194","38,733",...,"0,0283","85,2","44,154","1,10","10,83","0,415","1,139","11,562","0,14","0,848"
35652,0,"28,79",0,"0,927",0,"110,69","125,263",0,0,0,...,"0,0221",0,0,"0,05","1,23","2,622",0,"0,268","0,16","0,564"
35887,0,"8,57","823,3","5,714","323,57","788,64","462,880","62,951","85,521","145,425",...,"0,1429","486,2","25975,429","100,00","32,14","0,829","0,990","13,143","1,31","8,143"

In [9]:
# Delete colums which are not needed

df_pivot.drop(columns=["ENERC","FAT","CHOAVL","PROT","ALC","OA", "SUGOH","SUGAR","FRUS","GALS","GLUS","LACS","MALS","SUCS","STARCH","PSACNCS","FIBINS","FAFRE","FAPU","FAMCIS","FASAT","FATRN","FAPUN3", "FAPUN6","F18D2CN6","F18D3N3","F20D5N3","F22D6N3","CHOLE","STERT","TRP"], inplace=True)

In [10]:
df_pivot

EUFDNAME,CA,CAROTENS,FE,FIBC,FOL,ID,K,MG,NACL,NATRIUM,...,SE,THIA,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
FOODID,,,,,,,,,,,,,,,,,,,,,
1,"0,40",0,"0,060",0,0,"5,00","2,00","0,100","0,25","0,10",...,"0,500",0,0,0,0,0,0,0,0,"0,010"
2,"0,10",0,"0,070",0,0,"5,00","0,30",0,"0,25","0,10",...,"0,500",0,0,0,0,0,0,0,0,"0,010"
3,"74,00",0,"2,500",0,0,"5,00","220,00","34,000","127,40","50,00",...,"1,000",0,0,0,0,0,0,0,0,"0,130"
4,"5,00",0,"0,500",0,0,"5,00","60,00","3,000","5,61","2,20",...,"0,500","0,0100",0,0,"4,00",0,0,"0,020",0,"0,100"
5,"7,00",0,"1,450",0,0,"12,00","100,00","28,000","254,80","100,00",...,"1,000",0,0,0,0,0,0,0,0,"0,290"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35644,"86,22","65,1","0,720","0,392","16,34","32,46","214,51","22,279","1090,14","427,84",...,"15,785","0,0495","32,965","1,59","0,77","0,965","0,548","1,700","0,16","0,828"
35645,"80,78","67,7","1,389","1,511","31,51","22,84","306,95","34,400","575,29","225,78",...,"4,537","0,0810","27,127","0,35","1,01","0,607","0,229","0,617","0,10","0,743"
35647,"45,45","649,1","0,568","2,480","22,80","13,48","170,56","17,333","922,27","361,96",...,"12,222","0,0283","44,154","1,10","10,83","0,415","1,139","11,562","0,14","0,848"
35652,"28,79",0,"0,759","3,910","13,15","375,89","51,71","12,345","14793,74","5806,02",...,"0,925","0,0221",0,"0,05","1,23","2,622",0,"0,268","0,16","0,564"
35887,"8,57","823,3","21,000",0,"1226,00","4,29","497,14","31,429","303,57","119,14",...,"105,714","0,1429","25975,429","100,00","32,14","0,829","0,990","13,143","1,31","8,143"

In [11]:
foods = pd.read_csv("raw data\\food.csv", sep=";", encoding="iso8859_15")
foods_en = pd.read_csv("raw data\\foodname_EN.csv", sep=";", encoding="iso8859_15")

In [12]:
foods = foods.merge(foods_en, on="FOODID")

In [13]:
foods.drop(columns=["FOODNAME_x", "FUCLASS", "FUCLASSP", "LANG"], inplace=True)
foods

,FOODID,FOODTYPE,PROCESS,EDPORT,IGCLASS,IGCLASSP,FOODNAME_y
0,1,FOOD,IND,100,SUGARSYR,SUGARTOT,SUGAR
1,2,FOOD,IND,100,SUGARSYR,SUGARTOT,FRUCTOSE
2,3,FOOD,IND,100,SUGARSYR,SUGARTOT,SYRUP
3,4,FOOD,RAW,100,SUGARSYR,SUGARTOT,HONEY
4,5,FOOD,IND,100,SWEET,SUGARTOT,"SWEET, CANDY"
...,...,...,...,...,...,...,...
4233,35644,DISH,BAK,100,DISH,NONINGR,"MACARONI AND TUNA CASSEROLE, LOW-FAT MILK, GLU..."
4234,35645,DISH,BAK,100,DISH,NONINGR,"MACARONI AND SOYA CASSEROLE, LOW-FAT MILK, GLU..."
4235,35647,DISH,MIX,100,DISH,NONINGR,"SANDWICH, BAGUETTE, TUNA, GLUTEN-FREE"
4236,35652,DISH,BOIL,100,DISH,NONINGR,"NORTHERN MILKCAP, BLANCHED, ADDED SALT 15 %"
4237,35887,DISH,BOIL,100,DISH,NONINGR,"LIVER, BOILED, WITHOUT SALT"

In [14]:
foods = foods[["FOODID","FOODNAME_y","FOODTYPE","PROCESS","EDPORT","IGCLASS","IGCLASSP"]]

foods

,FOODID,FOODNAME_y,FOODTYPE,PROCESS,EDPORT,IGCLASS,IGCLASSP
0,1,SUGAR,FOOD,IND,100,SUGARSYR,SUGARTOT
1,2,FRUCTOSE,FOOD,IND,100,SUGARSYR,SUGARTOT
2,3,SYRUP,FOOD,IND,100,SUGARSYR,SUGARTOT
3,4,HONEY,FOOD,RAW,100,SUGARSYR,SUGARTOT
4,5,"SWEET, CANDY",FOOD,IND,100,SWEET,SUGARTOT
...,...,...,...,...,...,...,...
4233,35644,"MACARONI AND TUNA CASSEROLE, LOW-FAT MILK, GLU...",DISH,BAK,100,DISH,NONINGR
4234,35645,"MACARONI AND SOYA CASSEROLE, LOW-FAT MILK, GLU...",DISH,BAK,100,DISH,NONINGR
4235,35647,"SANDWICH, BAGUETTE, TUNA, GLUTEN-FREE",DISH,MIX,100,DISH,NONINGR
4236,35652,"NORTHERN MILKCAP, BLANCHED, ADDED SALT 15 %",DISH,BOIL,100,DISH,NONINGR
4237,35887,"LIVER, BOILED, WITHOUT SALT",DISH,BOIL,100,DISH,NONINGR

In [15]:
foods = foods.merge(df_pivot, on="FOODID")

In [16]:
classes = ["FRUITTOT", "VEGTOT", "LEGUTOT", "POTATOT", "CERTOT"]

veg_foods = foods[foods.IGCLASSP.isin(classes)]

In [17]:
veg_foods

,FOODID,FOODNAME_y,FOODTYPE,PROCESS,EDPORT,IGCLASS,IGCLASSP,CA,CAROTENS,FE,...,SE,THIA,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
18,27,"FLOUR, CORNSTARCH, CORNFLOUR",FOOD,IND,100,STARCH,CERTOT,"10,00",0,"0,300",...,0,0,0,0,0,0,0,0,0,0
31,40,CEREAL BAR WITH FIBRE,FOOD,IND,100,CERBAR,CERTOT,"30,60","47,1","2,045",...,"2,400","0,0630","0,18",0,"0,48",0,"1,973","11,883","0,10","0,551"
38,68,BARLEY STARCH,FOOD,IND,100,STARCH,CERTOT,"18,00",0,"0,600",...,"1,000",0,0,0,0,0,0,0,"0,01","0,200"
41,73,RAISIN OR DRIED FRUIT COATED WITH YOGHURT,FOOD,IND,100,FRUITOTH,FRUITTOT,"318,17","4,4","1,423",...,"5,268","0,1599","1,21","0,55","1,54","0,002","1,028","12,293","0,23","1,165"
45,100,"FLOUR, RYE, WHOLEGRAIN RYE FLOUR",FOOD,RAW,100,RYE,CERTOT,"33,000","219,7","3,300",...,"5,000","0,3100","0,54",0,0,0,"1,020","5,900","0,17","2,900"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4217,35633,"VALIO ODDLYGOOD GURTTI, OAT PRODUCT, UNFLAVOUR...",FOOD,IND,100,OAT,CERTOT,131,"17,7","0,473",...,"1,257","0,0330",0,"0,45",0,"1,1","0,104","0,360","0,01","0,361"
4218,35634,"OATLY HAVREGURT, OAT PRODUCT, UNFLAVOURED, WI...",FOOD,IND,100,OAT,CERTOT,120,"21,9","0,605",...,"1,602","0,0422","0,007","0,38","0,46","1,5","0,367","2,483","0,03","0,455"
4219,35635,"BEAN, BLACK BEAN, TURTLE BEAN, DRIED",FOOD,DRIE,100,PEABEAN,LEGUTOT,160,"10,2","8,7",...,"3,2","0,9","0,847",0,0,0,"0,210","5,600","0,286","2,20"
4220,35636,"OATLY HAVREGURT, OAT PRODUCT, FLAVOURED, WITH...",FOOD,IND,100,OAT,CERTOT,"8,88","20,8","0,556",...,"1,417","0,0373","0,028",0,"1,37",0,"0,356","2,346","0,02","0,406"
4222,35638,"BEAN, BLACK BEAN, TURTLE BEAN, IN BRINE, CANNED",FOOD,CANN,100,PEABEAN,LEGUTOT,35,"2,4","1,90",...,"1,3","0,140","0,199",0,"2,7",0,"0,620",NaN,"0,055","0,54"

In [20]:
veg_foods.isna().sum()

FOODID        0
FOODNAME_y    0
FOODTYPE      0
PROCESS       0
EDPORT        0
IGCLASS       0
IGCLASSP      0
CA            0
CAROTENS      0
FE            0
FIBC          0
FOL           0
ID            0
K             0
MG            0
NACL          0
NATRIUM       0
NIA           0
NIAEQ         0
P             0
RIBF          0
SE            0
THIA          0
VITA          0
VITB12        0
VITC          0
VITD          0
VITE          0
VITK          0
VITPYRID      0
ZN            0
dtype: int64

In [19]:
veg_foods.replace(np.nan, 0, inplace=True)

C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\3509179576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods.replace(np.nan, 0, inplace=True)

In [21]:

veg_foods = veg_foods[veg_foods.PROCESS != "IND"]

In [137]:
veg_foods = veg_foods[veg_foods.IGCLASS != "FBDRINK"]
veg_foods = veg_foods[veg_foods.IGCLASS != "JUICE"]
veg_foods = veg_foods[veg_foods.IGCLASS != "VEGJUICE"]
veg_foods = veg_foods[veg_foods.IGCLASS != "OATLIQ"]
veg_foods = veg_foods[veg_foods.IGCLASS != "CEROTLIQ"]
veg_foods = veg_foods[veg_foods.IGCLASS != "LEGULIQ"]
veg_foods = veg_foods[veg_foods.PROCESS != "X"]

In [22]:
veg_foods

,FOODID,FOODNAME_y,FOODTYPE,PROCESS,EDPORT,IGCLASS,IGCLASSP,CA,CAROTENS,FE,...,SE,THIA,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
45,100,"FLOUR, RYE, WHOLEGRAIN RYE FLOUR",FOOD,RAW,100,RYE,CERTOT,"33,000","219,7","3,300",...,"5,000","0,3100","0,54",0,0,0,"1,020","5,900","0,17","2,900"
46,103,RYE FLAKES,FOOD,RAW,100,RYE,CERTOT,"30,00","219,7","3,500",...,"5,000","0,2400","0,54",0,0,0,"0,390","5,900","0,42","2,600"
47,110,"FLOUR, WHEAT FLOUR, SEMI-COARSE",FOOD,RAW,100,WHEAT,CERTOT,"19,000","4,3","0,900",...,"10,000","0,0800","0,36",0,0,0,"0,390","1,000","0,10","0,800"
48,111,"FLOUR, WHOLE WHEAT FLOUR, GRAHAM FLOUR",FOOD,RAW,100,WHEAT,CERTOT,"32,000","224,1","3,900",...,"7,600","0,3500","0,36",0,0,0,"1,000","2,600","0,11","3,000"
49,112,SEMOLINA,FOOD,RAW,100,WHEAT,CERTOT,"13,00","197,1","1,200",...,"7,740","0,0800","0,36",0,0,0,"0,150","1,000","0,11","0,800"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,35615,JUNIPER BERRY,FOOD,RAW,100,BERRY,FRUITTOT,165,0,"1,68",...,5,0,0,0,0,0,0,0,0,"0,5"
4209,35616,"NETTLE, LEAF, DRIED",FOOD,DRIE,100,VEGLEAF,VEGTOT,2830,0,"6,7",...,3000,0,0,0,24,0,0,0,0,"2,4"
4211,35623,"BEAN, BROAD BEAN, FAVA BEAN, DRIED, BOILED WIT...",FOOD,BOIL,100,PEABEAN,LEGUTOT,36,"9,0","1,49",...,"2,6","0,096","0,75",0,"0,3",0,"0,02","2,9","0,072",1
4219,35635,"BEAN, BLACK BEAN, TURTLE BEAN, DRIED",FOOD,DRIE,100,PEABEAN,LEGUTOT,160,"10,2","8,7",...,"3,2","0,9","0,847",0,0,0,"0,210","5,600","0,286","2,20"
4222,35638,"BEAN, BLACK BEAN, TURTLE BEAN, IN BRINE, CANNED",FOOD,CANN,100,PEABEAN,LEGUTOT,35,"2,4","1,90",...,"1,3","0,140","0,199",0,"2,7",0,"0,620",0,"0,055","0,54"

In [23]:
veg_foods.columns

Index(['FOODID', 'FOODNAME_y', 'FOODTYPE', 'PROCESS', 'EDPORT', 'IGCLASS',
       'IGCLASSP', 'CA', 'CAROTENS', 'FE', 'FIBC', 'FOL', 'ID', 'K', 'MG',
       'NACL', 'NATRIUM', 'NIA', 'NIAEQ', 'P', 'RIBF', 'SE', 'THIA', 'VITA',
       'VITB12', 'VITC', 'VITD', 'VITE', 'VITK', 'VITPYRID', 'ZN'],
      dtype='object')

In [24]:
list_of_columns = ['CA', 'CAROTENS', 'FE', 'FIBC', 'FOL', 'ID', 'K', 'MG',
       'NACL', 'NATRIUM', 'NIA', 'NIAEQ', 'P', 'RIBF', 'SE', 'THIA', 'VITA',
       'VITB12', 'VITC', 'VITD', 'VITE', 'VITK', 'VITPYRID', 'ZN']

for column in list_of_columns:
       veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)

C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)
C:\Users\SallaKivistö\AppData\Local\Temp\ipykernel_9584\1268516694.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg_foods[column] = veg_foods[column].str.replace(',', '.').astype(float)

In [26]:
veg_foods.to_csv("nutrition data\\nutritions.csv", index = False)