In [1]:
import pandas as pd

In [30]:
nutritions = pd.read_csv("raw data\\component_value.csv", sep=";")

nutritions.head(56)

    FOODID  EUFDNAME  BESTLOC ACQTYPE METHTYPE METHIND
0        1     ENERC  1698,30       S        S  MI0107
1        1       FAT        0       F        E  MIR003
2        1    CHOAVL   99,900       S        S  MI0181
3        1      PROT        0       L        P  MIR003
4        1       ALC        0       F        U  MIR007
5        1        OA        0       S       IG  MIR003
6        1     SUGOH        0       S        U  MIR007
7        1     SUGAR   99,900       S        S  MI0151
8        1      FRUS        0       S       IG  MIR003
9        1      GALS        0       S        U  MIR007
10       1      GLUS        0       S       IG  MIR003
11       1      LACS        0       S        U  MIR003
12       1      MALS        0       S       IG  MIR007
13       1      SUCS   99,900       S       CG  MIR002
14       1    STARCH        0       S        U  MIR003
15       1      FIBC        0       S        U  MIR003
16       1    FIBINS        0       S        S  MIR006
17       1   PSACNCS        0       S        U  MIR003
18       1       FOL        0       F        E  MIR003
19       1     NIAEQ        0       F        E  MIR003
20       1       NIA        0       S        I  MIR003
21       1  VITPYRID        0       S        S  MIR005
22       1      RIBF        0       F        E  MIR003
23       1      THIA        0       F        E  MIR003
24       1      VITA        0       S        S  MI0324
25       1  CAROTENS        0       S        S  MI0302
26       1    VITB12        0       F        E  MIR003
27       1      VITC        0       F        E  MIR003
28       1      VITD        0       F        E  MIR003
29       1      VITE        0       S        S  MI0368
30       1      VITK        0       S       IG  MIR003
31       1        CA     0,40       F        E  MIR003
32       1        FE    0,060       F        E  MIR003
33       1        ID     5,00       F        E  MIR003
34       1         K     2,00       F        E  MIR003
35       1        MG    0,100       F        E  MIR003
36       1       NaN     0,10       F        E  MIR003
37       1      NACL     0,25       S        T  MIR005
38       1         P      0,1       F        E  MIR003
39       1        SE    0,500       D       AG  MI1006
40       1        ZN    0,010       F        E  MIR003
41       1     FAFRE        0       S        S  MI0202
42       1      FAPU        0       S        S  MI0213
43       1    FAMCIS        0       S        S  MI0210
44       1     FASAT        0       S        S  MI0209
45       1     FATRN        0       S        S  MIR006
46       1    FAPUN3        0       S        S  MI0216
47       1    FAPUN6        0       S        S  MIR006
48       1  F18D2CN6        0       S        U  MIR003
49       1   F18D3N3        0       S        U  MIR003
50       1   F20D5N3        0       S        U  MIR003
51       1   F22D6N3        0       S        U  MIR003
52       1     CHOLE        0       S       IG  MIR003
53       1     STERT        0       S        S  MIR006
54       1       TRP        0       S       IG  MIR003
55       2     ENERC  1696,60       S        S  MI0107

In [5]:
nutritions.drop(columns=["ACQTYPE", "METHTYPE", "METHIND"], inplace=True)

nutritions

        FOODID EUFDNAME  BESTLOC
0            1    ENERC  1698,30
1            1      FAT        0
2            1   CHOAVL   99,900
3            1     PROT        0
4            1      ALC        0
...        ...      ...      ...
229637   35887  F20D5N3   85,521
229638   35887  F22D6N3  145,425
229639   35887    CHOLE   323,57
229640   35887    STERT    11,43
229641   35887      TRP    486,2

[229642 rows x 3 columns]

In [25]:
df_pivot = nutritions.pivot(index="FOODID", columns="EUFDNAME", values="BESTLOC")
df_pivot

EUFDNAME,NaN,ALC,CA,CAROTENS,CHOAVL,CHOLE,ENERC,F18D2CN6,F18D3N3,F20D5N3,...,THIA,TRP,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
FOODID,,,,,,,,,,,,,,,,,,,,,
1,"0,10",0,"0,40",0,"99,900",0,"1698,30",0,0,0,...,0,0,0,0,0,0,0,0,0,"0,010"
2,"0,10",0,"0,10",0,"99,800",0,"1696,60",0,0,0,...,0,0,0,0,0,0,0,0,0,"0,010"
3,"50,00",0,"74,00",0,"74,100",0,"1261,40",0,0,0,...,0,0,0,0,0,0,0,0,0,"0,130"
4,"2,20",0,"5,00",0,"80,800",0,"1382,10",0,0,0,...,"0,0100",0,0,0,"4,00",0,0,"0,020",0,"0,100"
5,"100,00",0,"7,00",0,"87,000",0,"1487,50",0,0,0,...,0,0,0,0,0,0,0,0,0,"0,290"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35644,"427,84",0,"86,22","65,1","9,180","46,82","471,33","740,054","95,700","5,829",...,"0,0495","155,3","32,965","1,59","0,77","0,965","0,548","1,700","0,16","0,828"
35645,"225,78",0,"80,78","67,7","11,527","34,38","400,34","288,296","39,840",0,...,"0,0810","97,4","27,127","0,35","1,01","0,607","0,229","0,617","0,10","0,743"
35647,"361,96",0,"45,45","649,1","20,724","16,08","806,54","1588,038","400,155","4,194",...,"0,0283","85,2","44,154","1,10","10,83","0,415","1,139","11,562","0,14","0,848"
35652,"5806,02",0,"28,79",0,"0,927",0,"110,69","125,263",0,0,...,"0,0221",0,0,"0,05","1,23","2,622",0,"0,268","0,16","0,564"
35887,"119,14",0,"8,57","823,3","5,714","323,57","788,64","462,880","62,951","85,521",...,"0,1429","486,2","25975,429","100,00","32,14","0,829","0,990","13,143","1,31","8,143"

In [28]:
# Delete colums which are not needed

df_pivot.drop(columns=["ENERC","FAT","CHOAVL","PROT","ALC","OA", "SUGOH","SUGAR","FRUS","GALS","GLUS","LACS","MALS","SUCS","STARCH","PSACNCS","FIBINS","FAFRE","FAPU","FAMCIS","FASAT","FATRN","FAPUN3", "FAPUN6","F18D2CN6","F18D3N3","F20D5N3","F22D6N3","CHOLE","STERT","TRP"], inplace=True)

In [ ]:
df_pivot.loc[df_pivot]

EUFDNAME,NaN,CA,CAROTENS,FE,FIBC,FOL,ID,K,MG,NACL,...,SE,THIA,VITA,VITB12,VITC,VITD,VITE,VITK,VITPYRID,ZN
FOODID,,,,,,,,,,,,,,,,,,,,,
1,"0,10","0,40",0,"0,060",0,0,"5,00","2,00","0,100","0,25",...,"0,500",0,0,0,0,0,0,0,0,"0,010"
2,"0,10","0,10",0,"0,070",0,0,"5,00","0,30",0,"0,25",...,"0,500",0,0,0,0,0,0,0,0,"0,010"
3,"50,00","74,00",0,"2,500",0,0,"5,00","220,00","34,000","127,40",...,"1,000",0,0,0,0,0,0,0,0,"0,130"
4,"2,20","5,00",0,"0,500",0,0,"5,00","60,00","3,000","5,61",...,"0,500","0,0100",0,0,"4,00",0,0,"0,020",0,"0,100"
5,"100,00","7,00",0,"1,450",0,0,"12,00","100,00","28,000","254,80",...,"1,000",0,0,0,0,0,0,0,0,"0,290"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35644,"427,84","86,22","65,1","0,720","0,392","16,34","32,46","214,51","22,279","1090,14",...,"15,785","0,0495","32,965","1,59","0,77","0,965","0,548","1,700","0,16","0,828"
35645,"225,78","80,78","67,7","1,389","1,511","31,51","22,84","306,95","34,400","575,29",...,"4,537","0,0810","27,127","0,35","1,01","0,607","0,229","0,617","0,10","0,743"
35647,"361,96","45,45","649,1","0,568","2,480","22,80","13,48","170,56","17,333","922,27",...,"12,222","0,0283","44,154","1,10","10,83","0,415","1,139","11,562","0,14","0,848"
35652,"5806,02","28,79",0,"0,759","3,910","13,15","375,89","51,71","12,345","14793,74",...,"0,925","0,0221",0,"0,05","1,23","2,622",0,"0,268","0,16","0,564"
35887,"119,14","8,57","823,3","21,000",0,"1226,00","4,29","497,14","31,429","303,57",...,"105,714","0,1429","25975,429","100,00","32,14","0,829","0,990","13,143","1,31","8,143"